
<head>
    <title>
        Star War Web
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color: rgb(0, 0, 0)">
    
    <div class="container">
        <div style="text-align: center"> 
        <br><br>     
        <label style="color: rgb(229, 255, 0); margin: 30px" for="nombre">Nombre</label>

            <input id="nombre" type="text" [(ngModel)]="nombre">
            <br><br>  
            <button class="btn btn-primary" (click)="alta()">Agregar</button>
            <br><br>  
            <br><br>  
            <br><br>  
            <br><br>  
            <br><br>  
            <br><br>  
            <br><br>  
            <br><br>  
            <br><br>  
        </div>
    </div>

</body>